/*orang project*/
/*copy right on 30/3/2020 */
*{box-sizing: border-box;font-family:tahoma}
body{padding:0px;margin:0px}

.container{border-bottom: #FF5500 4px solid ; background-color: #2f3640 ;height:100px;color: white;padding-left: 98px;padding-right: 98px;}
span{color: #FF5500;}
.logo{display: inline-block; float: left;}
ul{direction: none; display:inline; float: right; margin:31PX 20PX;  font-size: 17px;}

li{display: inline; margin-right: 10px;}
a{direction: none;text-decoration-line: none; color: white}
a:hover{color: #FF5500 ;transition: .2s}
.main{background-image:url(../img/19.jpg);
	background-position: center center;
	background-size: cover;
	height: 500px ; color: white ; padding: 20px; font-size: 28px;}
.himg { text-align: center;margin: auto; padding: 15px;}
.pp{text-align: center;}
section{border: 1px solid ;height: 75px; background-color:#2f3640;padding-left: 98px;padding-right: 98px; }
.h3s{padding-left:30px; float: left;color: white}
form{padding-right: 30px;float: right; padding-top:20Px;}
.email{height: 30px;
       width: 244px;}
.button{background-color: #2f3640;
        color: white;
       background-color: #F50;
       height: 30;
       border: 0;
	   padding-right: 20px;
	   padding-left: 20px}
.article{justify-content: space-around;
        display: flex; text-align: center;
        padding-top: 20px;
         padding-left: 20px}
.html{  width:100px;height:200px}
.css{   width: 100px; height: 200px}
.javas{ width: 100px; height: 200px}
footer{border: 1px solid ;height: 75px; background-color:#FF5500;text-align: center;margin-top: 20px;padding-top: 24px;color: white}
@media (max-width:980px)
{
	.container{padding-left:23px;padding-right: 0;}
	
	section{padding-left :0;padding-right: 0;}
}

@media (max-width:786px){
	.container{text-align: center;height: auto;padding-bottom: 10px;}
	.logo{float: none;}
	ul{float: none}
	section{height: auto;}
	.h3s{float: none}
	form{float: none;padding-left: 30px;
	}
}
/*start about*/


.art1{float: left;width: 60%}
ahah{float: right;
    width: 30%;
    background-color:#2f3640;
    margin-top: -182px;
    color: white;
    padding: 15px;}
.da{color: black;background-color:#2f3640 }
.mar{margin: 20px}
.clear{clear: both}
	
@media (max-width:786px)
{
ahah{float: none;width:auto;margin-top: 0px;padding: 0px;}
#aside{border: solid;
    background: #2f3640;
    padding: 18px;}
                .art1{float: none;width: auto;}}
	
}
/**srat serv*/
.forma{float: right;width:30% color:white;background-color: #2f3640; padding: 5px;}
.forma2{color: white; padding: 15px}
.fofo{color: white; padding: 15px;border: 1px solid;border-color: #2f3640 ;background-color:#2f3640;float: right}
label{display: block;}
textarea{width:242px;height:110px;}
.ns{padding-bottom: 10px}
.seco{color:black; background-color:white }
.xx{float: left;width: 65%}
@media (max-width:860px){
	fofo{float: none;width: 100%;border-width:100%}
	.xx{float: none}
	
	
}















